##Mapper基础接口
##使用到的变量有：
##$!{gb.packageName}包名，如：net.letuu.order
##$!{gb.userName}机器登录用户名，如：microboss
##$!{gb.nowDate}当前日期，如：2013-05-02
##$!{tbb.className}类名，如：UserInfo
##$!{tbb.objectName}对象名，如：userInfo

package $!{gb.packageName}.impl.mapper;

import $!{gb.rootPackageName}.core.common.api.base.STBaseMapper;
import $!{gb.packageName}.api.domain.query.$!{tbb.className}Query;
import $!{gb.packageName}.impl.model.$!{tbb.className};
#if($!{tbb.isMultiPk})
import $!{gb.packageName}.impl.model.$!{tbb.className}Key;
#end
#if($conf.selectMap.size()>0)
import java.util.List;
#end

/**
 * <br>类描述:
 * <br>功能详细描述:
 * @author  $!{gb.userName}
 * @date  [$!{gb.nowDate}]
 */
 
 public interface $!{tbb.className}Mapper extends STBaseMapper<$!{tbb.className}, $!{tbb.className}Query,#if($!{tbb.isMultiPk})$!{tbb.className}Key#else $tbb.pkcol.get(0).propertyType #end>{

##定制产生select方法。
#if($conf.selectMap.size()>0)
#foreach($sel in $conf.selectMap.keySet())
#if( $conf.selectMap.get($sel) && $conf.selectMap.get($sel).wheres.size()>0)
   public #if( $conf.selectMap.get($sel).isListResult)List<$!{tbb.className}>#else $!{tbb.className} #end $sel(#foreach($w in $conf.selectMap.get($sel).wheres)#if($!{tbb.colMap.get($w)})#if(!$foreach.first), #end ${tbb.colMap.get($w).propertyType} ${tbb.colMap.get($w).propertyName} #end #end);
#end
#end
#end
        
}

