##Service基础接口
##使用到的变量有：
##$!{gb.packageName}包名，如：net.letuu.order
##$!{gb.userName}机器登录用户名，如：microboss
##$!{gb.nowDate}当前日期，如：2013-05-02
##$!{tbb.className}类名，如：UserInfo
##$!{tbb.objectName}对象名，如：userInfo

package $!{gb.packageName}.api.service;

import $!{gb.rootPackageName}.core.common.api.base.STBaseService;
import $!{gb.packageName}.impl.model.$!{tbb.className};
import $!{gb.packageName}.api.domain.query.$!{tbb.className}Query;
#if($!{tbb.isMultiPk})
import $!{gb.packageName}.impl.model.$!{tbb.className}Key;
#end

/**
 * <br>类描述:
 * <br>功能详细描述:
 * @author  $!{gb.userName}
 * @date  [$!{gb.nowDate}]
 */
public interface $!{tbb.className}Service extends STBaseService<$!{tbb.className}, $!{tbb.className}Query, #if($!{tbb.isMultiPk})$!{tbb.className}Key#else $tbb.pkcol.get(0).propertyType #end>{
  
}
